*{
    font-family: "Poppins", sans-serif;
    color: white;
}

.homeBlock{
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    background-color: rgb(90, 90, 90);;
}

.homeContainer{
    width: 95%;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    grid-gap:20px;

    &-title{

        background-color:rgb(149,193,30);
        border-radius: 70px;
        padding: 10px;
        
        
        

    }

    &-introduction{
        width: 40%;
        background-color:rgb(114, 114, 114);;
        display: flex;
        justify-content: flex-end;
        border-radius: 20px;
        padding: 10px;
        align-items: center;
        margin-top: 40px;
        align-self: flex-start;

        p{
            width: 70%;
            padding: 10px;
            color: #abd1c6;
        }

        img{
            width: 30%;
            height: 50%;
        }

    }

    &-paragraph2{
        width: 40%;
        background-color:rgb(114, 114, 114);;
        display: flex;
        justify-content: flex-end;
        border-radius: 20px;
        padding: 10px;
        align-items: center;
        align-self: flex-end;

        p{
            width: 70%;
            padding: 10px;
            color: #abd1c6;
        }

        img{
            width: 30%;
            height: 50%;
        }
    }

    &-paragraph{
        width: 40%;
        background-color:rgb(114, 114, 114);;
        display: flex;
        justify-content: flex-end;
        border-radius: 20px;
        padding: 10px;
        align-items: center;
        align-self: flex-start;

        p{
            width: 70%;
            padding: 10px;
            color: #abd1c6;
        }

        img{
            width: 30%;
            height: 50%;
        }
    }


}