*{
    font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {width: 0px;}
Track
::-webkit-scrollbar-track {background: #f1f1f100;}
Handle
::-webkit-scrollbar-thumb {background: rgba(136, 136, 136, 0);}
Handle on hover
::-webkit-scrollbar-thumb:hover {background: #95C11E;}

.aboutBlock {
  display: flex;
  justify-content: center;
  background-color: rgb(90, 90, 90);
  margin-bottom: 40px;
}


.aboutContainer {
  margin-top: 10px;
  margin-bottom: 30px;
  width: 70%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 10px;
  border-width: 3px;
  border-color: rgba(209, 209, 209, 0);
  border-style: solid;
  padding: 10px;
  background-color: rgb(114, 114, 114);;

  &-card {
    width: 90%;
    display: flex;

    &_image {
      width: 30%;

      img {
        width: 200px;
        overflow-y: scroll;
        border-color: #95C11E;
        border-style: solid;
        border-radius: 10px;
      }

      &__icons{
        width: 100%;
        display: flex;
        justify-content: flex-end;

        a img{
            width: 40px;
            text-align: center;
        }
      }
    }

    &_description {
      width: 100%;
      padding: 15px;
      border-radius: 10px 10px 10px 10px;
      height: 200px;
      overflow-y: scroll;
      border-color: #95C11E;
      border-style: solid;

      &__icons{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
    }
  }
}
